* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  text-align: center;
  position: relative;
}

h1 {
  font-size: 45px;
}

h2 {
  font-size: 25px;
  font-style: italic;
}



.startP {
  margin: 0%;
  padding: 5px;
  width: 250px;
  height: 25px;
}

ul {
  text-align: left;
}

.background {
  
}

#flex {
  display: flex;
  justify-content: center;
}

.waldo {
  position: relative;
  left: 550px;
  top: 100px;
}

.waldoText {
  font-size: 40px;
  font-weight: bold;
  /* background-color: black; */
  color: #000; 

}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .8);
  display: none;
  z-index: 100;
}

#popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 300px;
  padding: 20px;
  text-align: center;
  outline: 15px solid yellow;
  text-align: center;
}

#popup-content button {
  width: 250px;
  margin: 10px, 50px;
}

#instructional-button {
  padding: 10px;
  background-color: #ffff00;
  color: #000;
  cursor: pointer;
  position: absolute;
  left: 1375px;
  top: 45px;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 1rem;
  border: 1px solid #469;
  box-shadow: 0px 4px;
}

#instructional-button:hover {
}

#instructional-button:active {
  box-shadow: 0px 0px;
  color: #ff0;
  background-color: #000;
}

.frontBox {
  position: relative;
  z-index: 10;
}

.box {
  /* position: relative; */
  width: 300px;
  height: 200px;
  margin: 2px;
  border: 5px solid black;
  background-color: #00b0ff;
  border: 5px solid black;
  transform-origin: top right;
  transform: rotate(0deg);
  transition: all 2s;
  /* z-index: 10; */
}

.open {
  transform: rotate(180deg);
}

.autoOpen{
  transform-origin: top right;
  transform: rotate(0deg);
  transition: all 2s ease-in-out .3s; 
  will-change: transform;
}

.autoOpen:hover {
  transform: rotate(180deg);
  will-change: transform;
}

.pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: -1;
}


/* iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */

